*.o

doc/

build*/

back/
 
generatedCode

/build

/Release

/Debug

bin/

cmake-build-*/

bin/

.vscode/

CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
